body{
    height:fit-content;
    background: linear-gradient(0deg, beige 0%, #e6e2d3 100%);
    display: flex;
}

#panel{
    width: 100%;
    height: 50px;
    background-color: #b9936c;
    opacity: 0.5;
    display: flex;
    position: fixed;
    justify-content:left;
    align-content: center;
}



.category{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bolder;
}

#container{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: space-around;
    align-items:center;
}

@media only screen and (min-width: 1200px){
    #container{
        height: 937px;
    }
}

@media only screen and (max-width: 1200px){
    #container{
        height: 937px;
    }
}

.buttons{
    width: 500px;
    height: 300px;
    background-color: #dac292;
    border-radius: 20%;
    transition-duration: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons:hover{
    width: 550px;
    height: 350px;
    transition-duration: 0.5s;
}

