body{
    height: fit-content;
    background-color:  #e6e2d3;
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

#panel{
    width: 100%;
    height: 50px;
    background-color: #b9936c;
    opacity: 0.5;
    display: flex;
    position: fixed;
    justify-content:space-evenly;
    align-content: center;
    transition-duration: 0.3s;
}

#panel:hover{
    opacity: 100;
    transition-duration: 0.3s;
}



.category{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0.8%;
    margin-bottom: auto;
    font-weight: bolder;
    text-decoration: none;
    color: black;
}

/*Wiggle Animation*/

@keyframes wiggle {
    0% {transform: rotate(0deg);}
    80% {transform: rotate(0deg);}
    85% {transform: rotate(5deg);}
    95% {transform: rotate(-5deg);}
    100% {transform: rotate(0deg);}
}

.category{
    display: inline-block;
    animation: wiggle 1.5s infinite;
}



#containerOne{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: space-around;
    align-items:center;
}

#containerTwo{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: space-around;
    align-items:center;
}

#containerThree{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: space-around;
    align-items:center;
}



/*Overall*/
@media only screen and (max-width: 420px){
    #panel{
        flex-direction: column;
        height: fit-content;
        width: 15%;
    }

    #panel a{
        margin-left: 0;
    }
}


/*Container One*/

@media only screen and (min-width: 1920px){
    #containerOne{
        height: 910px;
    }
}

@media only screen and (max-width: 1920px){
    #containerOne{
        height: 910px;
    }
}

@media only screen and (max-width: 1283px){
    #containerOne{
        flex-direction: column;
        margin-top: 10%;
    }
}

@media only screen and (max-width: 500px){
    #containerOne{
        margin-top: 20%;
    }
    
    #containerOne .buttons{
        border-radius: 0%;
    }

    #containerOne .year{
        display: none;
    }
}

@media only screen and (max-width: 360px){
    #containerOne .buttons{
        width: auto;
    }
}



/*Container Two*/

@media only screen and (min-width: 1920px){
    #containerTwo{
        height: 910px;
    }
}

@media only screen and (max-width: 1920px){
    #containerTwo{
        height: 910px;
    }
}

@media only screen and (max-width: 1283px){
    #containerTwo{
        flex-direction: column;
    }
}

@media only screen and (max-width: 500px){
    #containerTwo{
        margin-top: 20%;
    }
    
    #containerTwo .buttons{
        border-radius: 0%;
    }

    #containerTwo .year{
        display: none;
    }
}

@media only screen and (max-width: 360px){
    #containerTwo .buttons{
        width: auto;
    }
}

/*Container Three*/


@media only screen and (min-width: 1920px){
    #containerThree{
        height: 910px;
    }
}

@media only screen and (max-width: 1920px){
    #containerThree{
        height: 910px;
    }
}

@media only screen and (max-width: 1283px){
    #containerThree{
        flex-direction: column;
        margin-top: 10%;
    }
}

@media only screen and (max-width: 500px){
    #containerThree{
        margin-top: 20%;
    }
    
    #containerThree .buttons{
        border-radius: 0%;
    }

    #containerThree .year{
        display: none;
    }
}

@media only screen and (max-width: 360px){
    #containerThree .buttons{
        width: auto;
    }

    #buttonSeven{
        display: flex;
        flex-direction: column;
        border-radius: 0%;
        width: fit-content;
        transition-duration: 0.3s;
    }
}

.buttons{
    width: 500px;
    height: 300px;
    background-color: #dac292;
    border-radius: 20%;
    transition-duration: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons:hover{
    width: 550px;
    height: 350px;
    transition-duration: 0.5s;
}

html{
    scroll-behavior: smooth;
    overflow: hidden;
}

/*Making the expanding*/

#buttonOne.fullscreen{
    z-index: 9999; 
    width: 100vw; 
    height: 100vh; 
    position: fixed; 
    top: 0; 
    left: 0; 
    border-radius: 0;
}

#buttonOne.fullscreen .title{
    visibility:hidden;
}

#buttonTwo.fullscreen{
    z-index: 9999; 
    width: 100vw; 
    height: 100vh; 
    position: fixed; 
    top: 0; 
    left: 0; 
    border-radius: 0;
}

#buttonTwo.fullscreen .title{
    visibility:hidden;
}

#buttonThree.fullscreen{
    z-index: 9999; 
    width: 100vw; 
    height: 100vh; 
    position: fixed; 
    top: 0; 
    left: 0; 
    border-radius: 0;
}

#buttonThree.fullscreen .title{
    visibility:hidden;
}

#buttonFour.fullscreen{
    z-index: 9999; 
    width: 100vw; 
    height: 100vh; 
    position: fixed; 
    top: 0; 
    left: 0; 
    border-radius: 0;
}

#buttonFour.fullscreen .title{
    visibility:hidden;
}

#buttonFive.fullscreen{
    z-index: 9999; 
    width: 100vw; 
    height: 100vh; 
    position: fixed; 
    top: 0; 
    left: 0; 
    border-radius: 0;
}

#buttonFive.fullscreen .title{
    visibility:hidden;
}

#buttonSix.fullscreen{
    z-index: 9999; 
    width: 100vw; 
    height: 100vh; 
    position: fixed; 
    top: 0; 
    left: 0; 
    border-radius: 0;
}

#buttonSix.fullscreen .title{
    visibility:hidden;
}

#containerFour{
    margin-top: 50vh;
    padding: 0;
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: space-around;
    align-items:center;
}

#buttonSeven{
    display: flex;
    flex-direction: column;
    border-radius: 0%;
    width: fit-content;
    transition-duration: 0.3s;
}

#text{
    text-align: center;
}

#aboutMe{
}

