body{
    margin: 0;
    padding: 0;
    background-color: #dac292;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

@keyframes fadeOut{
    to{
        opacity: 0;
    }
}

#panel{
    width: 100%;
    height: 50px;
    background-color: #b9936c;
    opacity: 0.5;
    display: flex;
    position: fixed;
    justify-content:left;
    align-content: center;
    transition-duration: 0.3s;
}

#panel:hover{
    opacity: 100;
    transition-duration: 0.3s;
}

.category{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: auto;
    font-weight: bolder;
    text-decoration: none;
    color: black;
    margin-bottom: 0%;
    align-content: center;
    font-size: large;
}

#fR{
    font-size: large;
}
#sR{
    font-size: large;
}

@keyframes wiggle {
    0% {transform: rotate(0deg);}
    80% {transform: rotate(0deg);}
    85% {transform: rotate(5deg);}
    95% {transform: rotate(-5deg);}
    100% {transform: rotate(0deg);}
}

.category{
    display: inline-block;
    animation: wiggle 1.5s infinite;
}



#container{
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    
}

#display{
    display: flex;
    align-content: center;
    justify-content: center;
    align-self: center;
    padding: 0;
    margin: 0;
    width: auto;
    height: 450px;
}



#left{
    rotate: 180deg;
}

html{
    overflow: hidden;
}

#transition{
    background-color: #e6e2d3;
    width: 100%;
}

/*Compatible for mobile*/
@media only screen and (max-width: 360px){
    #transition{
        width: 100vw;
    }

   #container{
    width: 100%;
   }

   #display{
    justify-content: center;
    width: 200px;
    flex-direction: column;
   }
    
    #panel{
        flex-direction: column;
        height: fit-content;
    }

   

    #left{
        margin-left: auto;
        margin-right: auto;
        height: 200px;
        width: 200px;
    }

    #right{
        margin-left: auto;
        margin-right: auto;
        height: 200px;
        width: 200px;
    }
}

#pic{
    height: auto;
    max-width: 100%;
}

#panel *{
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    width: 50vw;
}

ul li{
    display: inline-block;
    position: relative;
}

ul li a{
    display: block;
    padding: 20px 25px;
    text-align: center;
}

ul li ul.dropdown li{
    display: block;
    margin: 2px 0px;
}

ul li ul.dropdown{
    width: auto;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li:hover ul.dropdown{
    display: block;
}

#fPopup{
    transition-duration: 1s;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
}

#fPopupContent{
    text-align: center;
    display: flex;
    width: 50%;
    background:antiquewhite;
    flex-direction: column;
    height: fit-content;
    opacity: 100%;
}

#sPopup{
    transition-duration: 1s;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
}

#sPopupContent{
    text-align: center;
    display: flex;
    width: 50%;
    background:antiquewhite;
    flex-direction: column;
    height: fit-content;
    opacity: 100%;
}

#pPopup{
    transition-duration: 1s;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    overflow-y: scroll;
    
}

#pPopupContent{
    text-align: center;
    display: flex;
    width: 50%;
    background:antiquewhite;
    flex-direction: column;
    height: fit-content;
    opacity: 100%;
}

#titleBox{
    top: 10%;
    position: absolute;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100vw;
    height: fit-content;
    font-size: larger;
}

#title{
    margin: 0;
    padding: 0;
}